####################################
# NODE
####################################
node_modules/

####################################
# ENVIRONMENT VARIABLES
####################################
.env

####################################
# UPLOADS / FILES
####################################
uploads/
public/uploads/

####################################
# LOGS
####################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# OS FILES
####################################
.DS_Store
Thumbs.db

####################################
# EDITORS
####################################
.vscode/
.idea/

####################################
# BUILD
####################################
dist/
build/
